<template>
  <q-page class="flex items-stretch">
    <l-map
      ref="map"
      v-model:zoom="zoom"
      :zoom="5"
      :maxZoom="19"
      :center="center"
      style="height: auto"
      @click="addMarker"
      @update:center="updateCenter"
    >
      <l-tile-layer
        url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
        layer-type="base"
        name="OpenStreetMap"
      />

      <l-marker
        v-for="(item, index) in points"
        :key="`marker-${index}`"
        :lat-lng="item.center"
        draggable
        @add="add($event, item)"
        @dragend="drag"
      />
    </l-map>
  </q-page>
</template>

<script>
import { uid } from "quasar";
import { defineComponent } from "vue";
import { LMap, LMarker, LTileLayer } from "@vue-leaflet/vue-leaflet";
import { mapState, mapWritableState, mapActions } from "pinia";
import { useMapStore } from "../stores/map";

export default defineComponent({
  components: {
    LMap,
    LMarker,
    LTileLayer,
  },
  name: "PageIndex",
  data() {
    return {
      zoom: 15,
      isMoved: false,
    };
  },
  computed: {
    ...mapState(useMapStore, ["points"]),
    ...mapWritableState(useMapStore, ["center"]),
  },
  methods: {
    ...mapActions(useMapStore, {
      mapPush: "push",
      mapUpdate: "update",
      mapUpdateCenter: "updateCenter",
    }),
    addMarker(event) {
      if (event.latlng) {
        const id = uid();
        const position = Object.values(event.latlng).map((coordinate) => {
          return parseFloat(coordinate.toFixed(8));
        });

        this.mapPush({
          id,
          title: "Nuovo punto",
          center: position,
        });
      }
    },
    add(event, item) {
      event.target.id = item.id;
    },
    drag(event) {
      const marker = event.target;
      const position = Object.values(marker.getLatLng()).map((coordinate) => {
        return parseFloat(coordinate.toFixed(8));
      });

      this.mapUpdate({
        id: marker.id,
        data: {
          center: position,
        },
      });
    },
    updateCenter(event) {
      this.mapUpdateCenter([event.lat, event.lng]);
    },
  },
});
</script>
