<template>
  <q-item clickable @click="setCenter">
    <q-item-section>
      <q-item-label>
        {{ titleLocal }}
        <q-popup-edit
          v-model="titleLocal"
          auto-save
          v-slot="scope"
          @save="update"
        >
          <q-input
            v-model="scope.value"
            dense
            autofocus
            @keyup.enter="scope.set"
          >
            <template #append>
              <q-icon name="edit" />
            </template>
          </q-input>
        </q-popup-edit>
      </q-item-label>

      <q-item-label caption>
        {{ coordinates }}
      </q-item-label>
    </q-item-section>

    <q-item-section side>
      <q-btn round color="primary" icon="delete" @click="remove" />
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from "vue";
import { mapActions } from "pinia";
import { useMapStore } from "../stores/map";

export default defineComponent({
  name: "EssentialLink",
  props: {
    title: {
      type: String,
      required: true,
    },
    coordinates: {
      type: Array,
      default() {
        return [];
      },
    },
    id: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      titleLocal: this.title,
    };
  },
  methods: {
    ...mapActions(useMapStore, {
      updatePoint: "update",
      removePoint: "remove",
      updateCenterById: "updateCenterById",
    }),
    update(value) {
      this.updatePoint({
        id: this.id,
        data: {
          title: value,
        },
      });
    },
    remove() {
      this.removePoint(this.id);
    },
    setCenter() {
      this.updateCenterById(this.id);
    },
  },
});
</script>
